/* Base */
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 30px;
  font-size: 26px;
}

.hidden {
  display: none !important;
}

/* =====================
   Password Screen
===================== */
#password-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#password-screen-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#password-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#password-screen input {
  padding: 10px;
  font-size: 16px;
  width: 350px;
}

#password-screen button {
  padding: 10px 16px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

#password-image {
  display: block;
  margin: auto;
  width: 90vw;
  max-width: 650px;
}

#error {
  color: red;
  margin-top: 10px;
}

/* =====================
   Main Container
===================== */
#container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

/* =====================
   List View
===================== */
.item {
  padding: 16px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  cursor: pointer;
}

.item span {
  background: black;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 20px !important;

}

.item:hover {
  background-color: #f2f2f2;
}

/* =====================
   Detail View
===================== */
#detail {
  padding: 14px;
}

#back-button {
    margin-bottom: 15px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    padding: 14px;
    border-radius: 20px;
}

/* =====================
   Embedded Media
===================== */
iframe {
  width: 100%;
  height: 400px;
  border: none;
  margin-top: 15px;
}

